version: '3.7'
services:
  fletchling:
    image: ghcr.io/unownhash/fletchling:latest
    container_name: fletchling
    restart: unless-stopped
    volumes:
      - ./configs:/fletchling/configs
      - ./db_store/sql:/fletchling/db_store/sql
      - ./logs:/fletchling/logs
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    ports:
      - "9042:9042"

  # a container that starts and sleeps. this can be used
  # to exec into for the importer. See the 'docker-osm-importer.sh'
  # script.
  fletchling-tools:
    image: ghcr.io/unownhash/fletchling:latest
    container_name: fletchling-tools
    restart: unless-stopped
    command: ./sleep
    volumes:
      - ./configs:/fletchling/configs
      - ./db_store/sql:/fletchling/db_store/sql
      - ./logs:/fletchling/logs
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
