## You only need to configure the importer/exporter sections that
## you plan to use.
##
## You can import overpass -> koji, overpass -> db, db -> koji, koji -> db, etc.
##
## In the above, the left side is your exporter, and the right side is your importer.
##
## The config sections below are ordered by what I suspect will be used the most.
##

[importer]
min_area_m2 = 100
max_area_m2 = 10000000

## Configure this section if you use Koji, have a project that exports all of your
## area geofences, and you want to use this as a way to tell overpass an area/fence
## to search.
[koji_overpass_source]
# base url. project will be specified on command line.
url = "http://koji:8080"
# token = "bearer-token"

## Configure this section if you are going to put your nests into Koji
## (The nests will be copied to the DB still by Fletchling when it starts or reloads)
[koji_importer]
# base url. project will be specified on command line.
url = "http://koji:8080"
# token = "bearer-token"

## Configure this section if you are going to put your nests only into the DB.
[db_importer]
addr = "dbhost"
db = "fletchling"
user = "fletchling"
password = "xxx"

## Configure this section if you want to export your nests from the DB into Koji.
## This is designed to allow migrating from an existing nests db into managing your
## nests in Koji.
[db_exporter]
addr = "dbhost"
db = "fletchling"
user = "fletchling"
password = "xxx"

## Configure this section if you want to export your nests from Koji into a DB.
## This likely has limited use.
[koji_exporter]
# base url. project will be specified on command line.
url = "http://koji:8080"
# token = "bearer-token"

## The overpass API to use for exporting.
[overpass_exporter]
url = "https://overpass-api.de/api/interpreter"

[logging]
debug = false
filename = "logs/fletchling-importer.log"
max_backups = 50
