##
## fletchling-osm-importer.toml.example
##

## osm data that does not pass the filters will not be imported. The area
## filters can be re-done later based on what's currently in your nests db,
## so it is sort of better to go ahead and import a little more than you
## think you want. Then in the fletchling config, narrow things down.
[importer]
# do not import unless area is at least this size in meters squared.
min_area_m2 = 100
# do not import if area is at least this size in meters squared.
max_area_m2 = 10000000
# default name to use when no other name can be determined.
# if you set this to "", nests with no names will be skipped.
default_name = "Unknown Nest"
# include the centroid in default_name. For example, if true: "Unknown Nest at 0.0000,0.0000"
# 0.0000,0.0000 is just an example and is not going to be your actual centroid. :)
# This defaults to false. Logs have this already and is kind of pointless on a map. But
# since I added it (not sure why), I'll keep the option. Maybe someone wants it!
default_name_location = false

## Configure the source you'd like to use for your areas. This can be an
## areas.json (if it's a geojson feature collection) or a poracle style
## geofences.json... OR.. the importer can grab areas from koji.
## If it's koji, fill in the koji information. If you going to load from a file,
## configure the filename. Leave the one you don't use commented out.
[areas]
#koji_url = "http://127.0.0.1:8080/api/v1/geofence/feature-collection/MyAreasProject"
#koji_token = ""
#filename =

## This is the DB where your nests will go. If you've been using the golbat
## db for nests, configure that here. If you're starting from scratch, you can
## make a new db.
##
## Your user is required to have the following grants:
## -- all privileges on dbname.nests
## -- all privileges on dbname.nests_schema_migrations
## (Ignore that, if you don't know what it means)
[nests_db]
addr = "dbhost"
db = "fletchling"
user = "fletchling"
password = "xxx"

## golbat db is for spawnpoint filtering. This is optional, but the
## min_spawnpoint filtering will not be used if you do not have this.
##
## Your user is required to have the following grants:
## -- select on your-golbat-db.spawnpoints
## (Ignore that, if you don't know what it means)
[golbat_db]
addr = "dbhost"
db = "golbat"
user = "golbat"
password = "xxx"

# In case there's a need to change this:
[overpass]
#url = "https://overpass-api.de/api/interpreter"

[logging]
debug = false
# set to "" if you don't care to log to a file
filename = "logs/fletchling-osm-importer.log"
max_backups = 50
